<form name="customerForm">
	<table>
		<tr>
			<td><label for="Name">Name: </label></td>
			<td><input type="text" id="Name" name="name" ng-model="name" placeholder="Enter your Name" required></td>
		</tr>
		<tr>
			<td><label for="Email">Email: </label></td>
			<td><input type="email" id="Email" name="email" ng-model="email" placeholder="Enter your Email" required></td>
		</tr>
		<tr>
			<td><label for="Address">Address: </label></td>
			<td><textarea id="Address" name="address" ng-model="address" placeholder="Enter your Address" required></textarea></td>
		</tr>
	</table>
</form>
<span class="left" style="color: red;margin: 15px auto;" ng-show="customerForm.name.$dirty && customerForm.name.$invalid || 
customerForm.email.$dirty && customerForm.email.$invalid ||
customerForm.address.$dirty && customerForm.address.$invalid">
<span>All fields are REQUIRED.</span>
</span>
<span class="right container buton" ng-hide="
customerForm.name.$dirty && customerForm.name.$invalid || 
customerForm.email.$dirty && customerForm.email.$invalid ||
customerForm.address.$dirty && customerForm.address.$invalid" ng-click="doBuy()">Buy</span>